h3, p {
  margin: 0;
}

h3 {
  font-size: 1.3em;
  font-weight: 500;
}

.form-card {

  &__body {
    display: flex;
    align-items: center;

    padding-bottom: 10px;

    &--aside {
      &-image {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 120px;

        font-size: 2.5em;
        color: #D6DBDF;

        background-color: dimgray;

        border-radius: 8px;
        overflow: hidden;
      }

      &-description {
        margin-top: 5px;
        text-align: center;
      }

      .vip {
        color: darkred;
      }

      .regular {
        color: dodgerblue;
      }

      .new {
        color: limegreen;
      }
    }

    &--content {
      margin-left: 25px;

      &-item {
        .content-container {
          display: flex;
          align-items: center;
          flex-wrap: wrap;

          margin-top: 10px;

          &__item {
            display: flex;
            align-items: center;
            margin-left: 20px;

            &--text {
              margin-left: 5px;
            }

            &:first-child {
              margin-left: 0;
            }
          }
        }

        .content-columns-container {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;

          margin-top: 10px;

          & > .image-container {
            width: 50%;
            height: 150px;
            border-radius: 8px;
            overflow: hidden;

            & > .container-image {
              width: 100%;
              height: 100%;

              object-fit: cover;
            }
          }
        }

        &:last-child {
          margin-top: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .content-columns-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .image-container {
    margin-top: 20px;
  }
}

@media screen and (max-width: 585px) {
  .form-card {
    &__body {

      &--aside {
        width: 100%;
        margin: 0 auto;
      }
    }
  }

  .content-container {

    &__item {
      margin-left: 0 !important;
    }
  }

  .image-container {
    width: 100%;
  }
}

@media screen and (max-width: 385px) {
  .form-card {
    &__body {
      flex-wrap: wrap;

      &--content {
        margin-top: 30px;
        margin-left: 0;
      }
    }
  }
}
