.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 12px;

  border-top: 2px solid #313131;

  &__text {
    color: #313131;

    font-weight: 300;
  }
}
