.wizard-wrapper {
  margin-top: 15px;

  .steps {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-route {
      margin-bottom: 10px;

      width: 15%;
      height: 2px;

      border: 1px solid gray;

      background-color: #fff;
    }

    &__layout {
      display: flex;
      flex-direction: column;
      align-items: center;

      &-content {
        display: flex;
        justify-content: center;
        align-items: center;

        margin: 0;

        width: 36px;
        height: 36px;

        border: 1px solid gray;

        border-radius: 50%;

        background-color: #fff;

        font-size: 16px;
        font-weight: bold;
      }

      &-description {
        margin: 0;
        margin-top: 10px;
      }
    }
  }
}
