<div class="wizard-wrapper">
  <ul class="steps">
    <li class="steps__layout steps__layout">
      <p class="steps__layout-content" [class.active]="stepperActive === 'info' || stepperInfoDone" *ngIf="!stepperInfoDone; else stepProcessed">1</p>
      <p class="steps__layout-description">Данные клиента</p>
    </li>

    <div class="steps-route"></div>

    <li class="steps__layout">
      <p class="steps__layout-content" [class.active]="stepperActive === 'address' || stepperAddressDone" *ngIf="!stepperAddressDone; else stepProcessed">2</p>
      <p class="steps__layout-description">Адрес клиента</p>
    </li>

    <div class="steps-route"></div>

    <li class="steps__layout">
      <p class="steps__layout-content" [class.active]="stepperActive === 'identity'">3</p>
      <p class="steps__layout-description">Идентификация клиента</p>
    </li>
  </ul>
</div>

<ng-template #stepProcessed>
  <p class="steps__layout-content active">
    <mat-icon>done</mat-icon>
  </p>
</ng-template>
