<header class="header-container">
  <h3 class="header-container__title" (click)="goMain()">
    Client-Forms.org
  </h3>
  <button *ngIf="utilsService.buttonState === 'addClient' && (formStatus === 'initial' || formStatus === 'finished')"
          class="header-container__button" (click)="goToForm()">
    <mat-icon>add</mat-icon>
    <span class="button-text">Добавить клиента</span>
  </button>
  <button *ngIf="utilsService.buttonState === 'returnToForm' || formStatus === 'inProgress'"
          class="header-container__button" (click)="returnToForm()">
    <mat-icon>keyboard_backspace</mat-icon>
    <span class="button-text">Вернуться к заполнению</span>
  </button>
</header>
