.page-title {
  text-align: center;
}

.main-section {
  width: 90%;
  height: 80%;

  margin: 20px auto;

  overflow: auto;

  &__article {
   margin-top: 10px;

   &:first-child {
     margin-top: 0;
   }
  }
}
