<mat-card class="wrapper">
  <div class="wrapper__info">
    <div class="wrapper__info-image" [style.background-color]="color">
      <p>{{ client.info.lastName.slice(0, 1).toUpperCase() }}.{{ client.info.firstName.slice(0, 1).toUpperCase() }}</p>
    </div>
    <div class="wrapper__info-description">
      <p class="wrapper__info-description--title">{{ client.info.lastName }} {{ client.info.firstName.slice(0, 1).toUpperCase() }} {{ client.info.middleName.slice(0, 1).toUpperCase() }}</p>
      <p class="wrapper__info-description--subtitle">{{ client.info.birthDate | date: 'dd.MM.yyyy' }} ● {{ client.info.gender === 'male' ? 'Мужчина' : 'Женщина' }}</p>
      <p [class.vip-client]="client.info.clientGroup === 'VIP'"
         [class.new-client]="client.info.clientGroup === 'NEW'"
         [class.regular-client]="client.info.clientGroup === 'REGULAR'"
      >{{ client.info.clientGroup }}</p>
    </div>
  </div>

  <div class="wrapper__address">
    <p>{{ client.address.country }}, г.{{ client.address.city }}</p>
  </div>

  <div class="wrapper__identity">
    <p>{{ client.identity.documentType }}</p>
    <p>выдан {{ client.identity.documentIssuingAuthority }}</p>
    <p>от {{ client.identity.documentIssueDate | date: 'dd.MM.yyyy' }}</p>
  </div>
</mat-card>
