.form-space__layout {
  display: flex;
  justify-content: space-between;
}

.radio-group {
  padding-left: 30px;

  width: 50%;
  margin-bottom: 20px;

  &__label {
    display: block;
    margin-bottom: 8px;
  }

  &__radio {

    & > mat-radio-button:last-child {
      margin-left: 20px;
    }
  }
}

@media screen and (max-width: 1180px) {
  .radio-group {

    &__radio {
      display: flex;
      flex-direction: column;

      & > mat-radio-button:last-child {
        margin-top: 5px;
        margin-left: 0;
      }
    }
  }
}

@media screen and (max-width: 965px) {

  .form-space__layout {
     flex-wrap: wrap;

     & > * {
       width: 100%;
     }
   }

  .radio-group {
    padding-left: 0;

    &__radio {
      flex-direction: row;

      & > mat-radio-button:last-child {
        margin-top: 0;
        margin-left: 20px;
      }
    }
  }

  .mff-streamline {
    margin-left: 0;
  }
}

@media screen and (max-width: 380px) {
  .radio-group {

    &__radio {
      flex-direction: column;

      & > mat-radio-button:last-child {
        margin-top: 5px;
        margin-left: 0;
      }
    }
  }
}
