@media screen and (max-width: 710px) {
  .form__layout {
    flex-direction: column;
  }

  .mff-streamline {
    margin-left: 0;
  }

  .mff-15 {
    width: 100%;
  }

  .mff-85 {
    width: 100%;
  }
}
