/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';

* {
  box-sizing: border-box !important;

  &:before,
  &:after {
    box-sizing: border-box !important;
  }
}

a,
button {
  cursor: pointer;
}

ul, p {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

HTML,
BODY {
  width: 100%;
  height: 100%;
}

BODY {
  margin: 0;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #313131;
  -webkit-font-smoothing: antialiased;

  background: url("assets/images/bg.png") repeat;
}

.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

app-client-info,
app-client-address,
app-client-identity
{
  width: 50%;
}

.mat-card {
  padding: 0 !important;
}

.form-card {
  width: 100%;

  &__header {
    padding-top: 16px;
  }

  &__subtitle {
    display: flex !important;
    align-items: center;

    margin-bottom: 0 !important;

    cursor: pointer;
  }

  &__body {
    padding: 10px 16px 0 20px;

    & > h3 {
      margin-left: 16px;
    }
  }

  &__form {
    margin: 15px auto;

    width: 85%;
  }
}

.form__layout {
  display: flex;
  align-items: center;
}

.mff-100 {
  width: 100%;
}

.mff-85 {
  width: 85%;
}

.mff-50 {
  width: 50%;
}

.mff-15 {
  width: 15%;
}

.mff-streamline {
  margin-left: 10px;
}

.form__footer  {
  display: flex !important;
  //justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  margin: 0 !important;
  padding: 12px 15px;

  background: #ecf2f5;
  box-shadow: inset 0 1px 1px #fff;
  border-top: 1px solid #ccc;

  .button-next {
    margin-left: auto;
    padding: 8px 20px;

    border-radius: 30px;
  }
}

.active {
  color: white;

  background-image: -webkit-gradient(linear, left top, left bottom, from(#acd6ef), to(#6ec2e8));
  border: 1px solid #66add6;
  box-shadow: 0 1px 2px rgb(0 0 0 / 30%), inset 0 1px 0 rgb(255 255 255 / 50%);
}

@media screen and (max-width: 1120px) {
  .mff-85 {
    width: 75%;
  }

  .mff-15 {
    width: 25%;
  }
}

@media screen and (max-width: 545px) {
  app-client-info,
  app-client-address,
  app-client-identity
  {
    width: 70%;
  }

  .button-next {
    margin-top: 10px;

    width: 100%;
  }
}

@media screen and (max-width: 380px) {
  .form-card {
    &__body {
      padding: 10px 10px 0 10px;
    }
  }
}
