.file-uploader {

  cursor: pointer;

  &__trigger {
    padding: 7.5px 16px;
    border-radius: 0 4px 4px 0;
  }
}

.file-field {
  padding: 8px;
  width: 85%;
  height: 38px;
  border: 1px solid rgb(224 224 224);
  border-radius: 4px 0 0 4px;
}

@media screen and (max-width: 800px) {
  .form__layout {
    flex-wrap: wrap;
  }

  .mff-50 {
    width: 100%;
  }

  .mff-streamline {
    margin-left: 0;
  }

  .file-field {
    width: 100%;

    border-radius: 4px 4px 0 0;
  }

  .file-uploader {
    width: 100%;

    &__trigger {
      padding: 7.5px 16px;

      text-align: center;

      border-radius: 0 0 4px 4px;
    }
  }


}
